<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/79e9b7a5af.js" crossorigin="anonymous"></script>

    <!-- Bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  
  
  
  
  /* Open modal button styling */
  #open-modal {
    border: none;
    background-color: #2196f3;
    border-radius: 1.5rem;
    padding: 0.7rem 2.3rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    user-select: none;
  }
  
  #open-modal:hover {
    filter: brightness(1.1);
  }
  
  /* Modal styling */
  .modal {
    display: none;
    position: fixed;
    margin-top:-17%;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.39);
  }
  
  .modal-content {
    margin: 20% auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    animation: scale 0.5s ease;
    border-radius: 10px;
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),
      100px 100px 80px rgba(0, 0, 0, 0.05);
  }
  
  .modal-body {
    margin-top: 5px;
  }
  
  #close-modal {
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Modal scale animation */
  @keyframes scale {
    from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }
      </style>
</head>
<body style="margin-top:-2%;background-image: url(https://wallpaper.dog/large/10740994.jpg);background-repeat: no-repeat;background-attachment: fixed;">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/admin/dashboard" style="margin-left: 1%;margin-top:2%;color: #fff">
      <img src="https://img.icons8.com/flat-round/64/000000/back--v1.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Go Back
    </a>
    <li>
      <form action="/admin/products/search" method="post">
       <input type="text" name="search" placeholder="" required>
       <input type="hidden" name="_csrf" value="<%= csrfToken %>">
       <button type="submit"><i class="fa fa-search"></i></button>
      </form> 
     </li>
  </nav>
<div >
  <br>
  <h2 class="text-2xl font-extrabold sm:pt-1 text-center tracking-tight text-yellow-200">Green grocery Products</h2><br>
  

<div >
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:max-w-7xl lg:px-8">
 

    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
      <% if (!products) { %>
        <h4>No Products found.</h4>
      <% } else { %>
        <% for (let product of products) { %>
        <div class="group bg-white mx-4 p-4">
          <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
            <img src="<%= product.url %>" alt="<%= product.name %>" class="w-full h-full object-center object-cover group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700"><%= product.name %></h3>
          <p class="mt-1 text-lg font-medium text-gray-900">₹ <%= product.price %> per KG</p><br>
          <a id="open-modal"  class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</a>
          <br><br>
        </div>
        <div class="modal" style="text-align:center !important;">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <span id="close-modal">&times;</span> -->
              <h3 style="margin-left: 25%;">Do you want to delete the item?</h3>
              <br>
            </div>
            <div class="modal-body">
              <a href="/admin/delete-product/<%= product.id %>" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Delete</a>
              <a href="/admin/delete-product" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Cancel</a>
            <br>
            </div>
            <br>
          </div>
        </div>
        <% } %>     
      <% } %>
    </div>
    
  </div>
</div>
<script type="text/javascript">
  const modal = document.querySelector(".modal");
const openModalBtn = document.querySelector("#open-modal");
const closeModalBtn = document.querySelector("#close-modal");

openModalBtn.addEventListener("click", function () {
  modal.style.display = "block";
});

closeModalBtn.addEventListener("click", function () {
  modal.style.display = "none";
});
</script>
  
</body>
</html>