<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/79e9b7a5af.js" crossorigin="anonymous"></script>
</head>
<body style="margin-top:-2%;background: linear-gradient(to top, #808080ba, #0c0c0ccc), url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774) no-repeat top center;background-repeat: no-repeat;background-attachment: fixed;background-size: cover">
    
<div >
  <br>
  <h2 class="text-2xl font-extrabold sm:pt-8 text-center tracking-tight text-yellow-200">Green Grocery Products</h2><br>
  

<div >
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:max-w-7xl lg:px-8">
 

    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
      <% if (!products) { %>
        <h4>No Products found.</h4>
      <% } else { %>
        <% for (let product of products) { %>
        <div class="group bg-white mx-4 p-4">
          <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
            <img src="<%= product.url %>" alt="<%= product.name %>" class="w-full h-full object-center object-cover group-hover:opacity-75">
          </div>
          <h3 class="mt-4 text-sm text-gray-700"><%= product.name %></h3>
          <p class="mt-1 text-lg font-medium text-gray-900">₹ <%= product.price %> per KG</p><br>
          <a href="/admin/product-detail/<%= product.id %>" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">&nbsp;&nbsp;&nbsp;Details&nbsp;&nbsp;&nbsp;</a>
          <br><br>
        </div>
        <% } %>     
      <% } %>
    </div>
  </div>
</div>

  
</body>
</html>