<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user ? user.name : "Guest" %> | SK Pazhamudhir Nilayam</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/79e9b7a5af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
</head>
<body>
  <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 fixed w-full top-0 rounded dark:bg-neutral-600" style="z-index:1;">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="https://flowbite.com" class="flex items-center">
    <img src="/images/sk2.jpeg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo">
    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">SK Pazhamudhir Nilayam</span>
    </a>
    <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
    <li>
    <a href="/home" class="block py-2 pr-4 pl-3 text-pink-500 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-yellow-200 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">&nbsp;&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li>
    <a href="/products" class="block py-2 pr-4 pl-3 text-pink-500 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-yellow-200 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">&nbsp;&nbsp;&nbsp;&nbsp;Green Grocery&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li>
    <a href="/profile" class="block py-2 pr-4 pl-3 text-pink-500 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-yellow-200 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">&nbsp;&nbsp;&nbsp;&nbsp;Profile&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li>
  
  
    </ul>
    </div>
    </div>
    </nav>
    <ul class="
  nav nav-tabs nav-justified
  flex flex-col
  md:flex-row
  flex-wrap
  list-none
  border-b-0
  pl-0
  mb-4
  mt-16
" id="tabs-tabJustify" role="tablist">
  <li class="nav-item flex-grow text-center" role="presentation">
    <a href="#tabs-homeJustify" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      active
    " id="tabs-home-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-homeJustify" role="tab"
      aria-controls="tabs-homeJustify" aria-selected="true" style="font-size:20px;font-weight:bold"><i  class="icon-user "></i> User Profile</a>
  </li>
  <li class="nav-item flex-grow text-center" role="presentation">
    <a href="#tabs-profileJustify" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-profile-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-profileJustify" role="tab"
      aria-controls="tabs-profileJustify" aria-selected="false" style="font-size:20px;font-weight:bold"><i  class="icon-basket-loaded "></i> Cart</a>
  </li>
  <li class="nav-item flex-grow text-center" role="presentation">
    <a href="#tabs-messagesJustify" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-messages-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-messagesJustify" role="tab"
      aria-controls="tabs-messagesJustify" aria-selected="false" style="font-size:20px;font-weight:bold"><i  class="icon-notebook "></i> Order Summary</a>
  </li>
</ul>
<div class="tab-content" id="tabs-tabContentJustify">
  <div class="tab-pane fade show active" id="tabs-homeJustify" role="tabpanel"
    aria-labelledby="tabs-home-tabJustify">
    <div class="  flex items-center justify-center  -py-8 px-4 sm:px-6 lg:px-8 " style="margin-top:-1%">
      <div  class=" w-full space-y-8  bg-gray-100 shadow-lg rounded-sm border border-gray-200 border-solid px-12 my-4 py-12 border-2 ">
        <div>
          <div>
            <!-- Website Logo -->
            <a href="#" class="flex items-center md:px-20">
              
             
            </a>
          </div>
          
          <h1 class="mt-3 text-center text-3xl font-extrabold text-gray-700"> <%= user? user.name : "Guest" %> </h1>
        
        </div>
        <form class="mt-8 space-y-6"  action="/login" method="POST">
          <div class="grid grid-cols-2 gap-2">
            <div><input type="hidden" name="remember" value="true">
              <div class="rounded-md shadow-sm -space-y-px">
                 
                      <div class="col-span-3 sm:col-span-2">
                        <label for="company-website" class="block text-sm font-medium text-gray-700"> Email id</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <span class="inline-flex items-center px-2 py-2 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" width="25px" height="25px" alt="demo"> </span>
                          <input type="text" value="<%= user ? user.email : 'abc@gmail.com' %>" name="email" id="company-website" readonly="readonly" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                          </div>
                      </div>
                <br>
                
                <div class="col-span-3 sm:col-span-2">
                  <label for="company-website" class="block text-sm font-medium text-gray-700"> Mobile 1</label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-2 py-2 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> <img src="https://cdn-icons-png.flaticon.com/512/126/126341.png" width="25px" height="25px" alt="demo"> </span>
                    <input type="tele" value="<%= user && user.mobile1 ? user.mobile1 : '' %>" name="mobile1" id="company-website" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" required>
                    </div>
                </div>
                <br>
                <div class="col-span-3 sm:col-span-2">
                  <label for="company-website" class="block text-sm font-medium text-gray-700">Mobile 2</label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-2 py-2 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> <img src="https://cdn-icons-png.flaticon.com/512/1034/1034182.png" width="25px" height="25px" alt="demo"> </span>
                    <input type="tele" value="<%= user && user.mobile2 ? user.mobile2 : '' %>" name="mobile1" id="company-website" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                  </div>
                </div>
              </div></div>
            <!-- ... -->
            <div><input type="hidden" name="remember" value="true">
              <div class="rounded-md shadow-sm -space-y-px">
                 
                <!-- Address -->
                      <div class="col-span-3 sm:col-span-2">
                        <div class="col-span-3 sm:col-span-2">
                          <label for="company-website" class="block text-sm font-medium text-gray-700"> Address</label>
                          <div class="mt-1 flex rounded-md shadow-sm">
                            <span class="inline-flex items-center px-2 py-2 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> <img src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" width="25px" height="25px" alt="demo"> </span>
                            <textarea
              class="
                form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
              "
              id="exampleFormControlTextarea1"
              rows="5">
              <%= user && user.address ? user.address : '' %>
            </textarea>
                          </div>
                        </div>
                        <br>

                        <!-- Pin Code -->
                        <label for="company-website" class="block text-sm font-medium text-gray-700"> Pincode</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <span class="inline-flex items-center px-2 py-2 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> <img src="https://cdn-icons-png.flaticon.com/512/484/484167.png" width="25px" height="25px" alt="demo"> </span>
                            <input type="text" value="<%= user && user.pincode ? user.pincode : '' %>" name="pincode" id="company-website" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                            </div>
                      </div>
                   
                <br>
                <br>
                
              </div></div>
          </div>
          
  
    <br>
          <div class="flex justify-center">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button style="width: 200px;" type="submit" class="group relative w-1/2  py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <!-- Heroicon name: solid/lock-closed -->
                
              </span>
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </div>
  <div class="tab-pane fade" id="tabs-profileJustify" role="tabpanel" aria-labelledby="tabs-profile-tabJustify">
    <section class="antialiased bg-white text-gray-600 h-screen px-4" x-data="app" style="margin-top:-5%">
      <div class="flex flex-col justify-center h-full">
          <!-- Table -->
          <div class="w-full max-w-2xl mx-auto bg-gray-100 shadow-lg rounded-sm border border-gray-200">
              <header class="px-5 py-4 border-b border-gray-500">
                  <div class="font-semibold text-gray-800">Manage Carts</div>
              </header>
  
              <div class="overflow-x-auto p-3">
                  <table class="table-auto w-full">
                      <thead class="text-xs font-semibold uppercase text-gray-800 bg-gray-200">
                          <tr>
                            
                              <th class="p-2">
                                  <div class="font-semibold text-left">Product Name</div>
                              </th>
                              <th class="p-2">
                                  <div class="font-semibold text-left">Quantity in KG</div>
                              </th>
                              <th class="p-2">
                                  <div class="font-semibold text-left">Total</div>
                              </th>
                              <th class="p-2">
                                <div class="font-semibold text-center">Action</div>
                            </th>
                              <th class="p-2">
                                  <div class="font-semibold text-center"></div>
                              </th>
                          </tr>
                      </thead>
  
                      <tbody class="text-sm divide-y divide-gray-100">
                          <!-- record 1 -->
                          <tr>
                              
                              <td class="p-2">
                                  <div class="font-medium text-gray-800">
                                      Apple
                                  </div>
                              </td>
                              <td class="p-2">
                                <div><input type="number" class="text-left" name="quan" id="quan" min="0" max="25"></div>
                              </td>
                              <td class="p-2">
                                  <div class="text-left font-medium text-green-500">
                                    ₹150
                                  </div>
                              </td>
                              <td class="p-2">
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Order</button>
                                  </div>
                            </td>
                              <td class="p-2">
                                  <div class="flex justify-center">
                                      <button>
                                          <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1"
                                              fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                              xmlns="http://www.w3.org/2000/svg">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                              </path>
                                          </svg>
                                      </button>
                                  </div>
                              </td>
                          </tr>
  
                          <!-- record 2 -->
                          <tr>
                              
                              <td class="p-2">
                                  <div>
                                      <div class="font-medium text-gray-800">Tomato</div>
                                  </div>
                              </td>
                              <td class="p-2">
                                <div><input type="number" class="text-left" name="quan" id="quan" min="0" max="25"></div>
                              </td>
                              <td class="p-2">
                                  <div class="text-left font-medium text-green-500">
                                    ₹40
                                  </div>
                              </td>
                              <td class="p-2">
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Order</button>
                                  </div>
                            </td>
                              <td class="p-2">
                                  <div class="flex justify-center">
                                      <button>
                                          <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1"
                                              fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                              xmlns="http://www.w3.org/2000/svg">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                              </path>
                                          </svg>
                                      </button>
                                  </div>
                              </td>
                          </tr>
  
                          <!-- record 3 -->
                          <tr>
                              
                              <td class="p-2">
                                  <div>
                                      <div class="font-medium text-gray-800">Carrot</div>
                                  </div>
                              </td>
                              <td class="p-2">
                                <div><input type="number" class="text-left" name="quan" id="quan" min="0" max="25"></div>
                              </td>
                              <td class="p-2">
                                  <div class="text-left font-medium text-green-500">₹250</div>
                              </td>
                              <td class="p-2">
                                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Order</button>
                                  </div>
                            </td>
                              <td class="p-2">
                                  <div class="flex justify-center">
                                      <button>
                                          <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1"
                                              fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                              xmlns="http://www.w3.org/2000/svg">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                              </path>
                                          </svg>
                                      </button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
  
              <!-- total amount -->
              <div class="flex justify-end font-bold space-x-4 text-2xl border-t border-gray-100 px-5 py-4">
                  <div>Total</div>
                  <div class="text-blue-600">₹ <span x-text="350.00"></span></div>
              </div>

  
              <div style="text-align:center">
    <br>
    <button type="button" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Order All Items</button>
  
  </div>
  <br>
          </div>
     
  </section>

  </div>
 
  <div class="tab-pane fade" id="tabs-messagesJustify" role="tabpanel" aria-labelledby="tabs-profile-tabJustify">
    <div class="flex flex-col mx-24">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full text-center">
              <thead class="border-b bg-gray-800">
                <tr>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                    #
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                    Products
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                    Price
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                    Status
                  </th>
                  <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                    Invoice
                  </th>
                </tr>
              </thead class="border-b">
              <tbody>
                <tr class="bg-white border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Apple,Mango
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    ₹350
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  ✅ Delivered
                  </td>
                  <td class="text-sm px-6 py-4 whitespace-nowrap">
                    <a href="" class="icon-cloud-download primary"></a>
                  </td>
                </tr class="bg-white border-b">
                <tr class="bg-white border-b">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    Tomato,Carrot
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    ₹80
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    ✅ Delivered
                  </td>
                  <td class="text-sm px-6 py-4 whitespace-nowrap">
                    <a href="" class="icon-cloud-download primary"></a>
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>